﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var up = ViewData["up"];
}

@model Sales.Illustration.Web.ViewModel.AdditionalInsuredViewModel

@Html.Partial("Header")
<style>
    #loading {
        position: absolute;
        width: 100%;
        height: 1500px;
        opacity : 0;
        z-index: 1000;
    }
</style>
<div id="loading"></div>
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>TERTANGGUNG TAMBAHAN</b></h5></center>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-tittle-1">
                    <i class="p1"></i> Informasi Pemegang Polis dan Tertanggung Tambahan
                </div>

                @using (Html.BeginForm("CheckAdditionalInsured", "UnitLink", FormMethod.Post, new { @id = "form" }))
                {
                    <div id="pemegang_polis">

                        <legend style="padding-top:20px">Pemegang Polis</legend>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label class="control-label">
                                Nama
                            </label>
                            @Html.TextBoxFor(m => m.NasabahData.NamaPemegangPolis, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.NasabahData.NamaProduk)
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label class="control-label">
                                Tanggal Lahir
                            </label>
                            <div class="input-group date" id="datepick">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                @Html.TextBoxFor(m => m.NasabahData.TanggalLahirPemegangPolis, new { @class = "form-control", id = "datepicker", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-2 col-sm-6 col-xs-12 jarak-kecil">
                            <label class="control-label">
                                Jenis Kelamin
                            </label>
                            @Html.TextBoxFor(m => m.NasabahData.JenisKelaminPemegangPolis, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12 jarak-kecil">
                            <label class="control-label">
                                Usia
                            </label>
                            @Html.TextBoxFor(m => m.NasabahData.UmurPemegangPolis, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <label class="control-label">
                                Pekerjaan
                            </label>

                            @Html.TextBox("PekerjaanPemegangPolis", ViewData["pekerjaanP"] as string, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div id="tertanggung_utama">

                        <legend style="padding-top:20px">Tertanggung Utama</legend>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label class="control-label">
                                Nama
                            </label>
                            @Html.TextBoxFor(m => m.NasabahData.NamaTertanggungUtama, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label class="control-label">
                                Tanggal Lahir
                            </label>
                            <div class="input-group date" id="datepick">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                @Html.TextBoxFor(m => m.NasabahData.TanggalLahirTertanggungUtama, new { @class = "form-control", id = "datepicker", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-2 col-sm-6 col-xs-12 jarak-kecil">
                            <label class="control-label">
                                Jenis Kelamin
                            </label>
                            @Html.TextBoxFor(m => m.NasabahData.JenisKelaminTertanggungUtama, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12 jarak-kecil">
                            <label class="control-label">
                                Usia
                            </label>
                            @Html.TextBoxFor(m => m.NasabahData.UmurTertanggungUtama, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <label class="control-label">
                                Pekerjaan
                            </label>
                            @Html.HiddenFor(m => m.NasabahData.Relation)
                            @Html.TextBox("PekerjaanTertanggungUtama", ViewData["pekerjaanT"] as string, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <legend style="padding-top:20px"> Tertanggung Tambahan</legend>
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table id="content_tb" class="table tablew">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama</th>
                                    <th>Tanggal Lahir</th>
                                    <th style="width:200px;"> Jenis Kelamin</th>
                                    <th>Usia</th>
                                    <th>Pekerjaan</th>
                                    <th>Hubungan</th>
                                </tr>
                            </thead>
                            <tbody id="table_tt" class="jumlahtt">
                                @*<tr>
                                        <td>1</td>
                                        <td>
                                            <input name="1" type="text" maxlength="50" class="form-control inputtext enter" id="1">
                                        </td>
                                        <td>
                                            <div class="input-group date" id="datepick">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                <input type='text' name="2" id="datepicker" class="form-control" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group enter">
                                                <label class="checkbox-inline" id="jk">
                                                    <input name="3" type="radio" value="Wanita" checked/>Wanita
                                                </label>
                                                <label class="checkbox-inline" id="jk1">
                                                    <input name="3" type="radio" value="Pria" />Pria
                                                </label>
                                            </div>
                                        </td>
                                        <td><input name="4" type="text" maxlength="50" class="form-control inputtext2 enter" id="4" disabled></td>
                                        <td><input name="5" type="text" maxlength="50" class="form-control inputtext enter" id="5"></td>
                                    </tr>*@
                                @for (var i = 0; i < Model.TertanggungTambahan.Count; i++)
                                {
                                    @Html.Partial("AdditionalInsuredRow", Model.TertanggungTambahan[i])
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="tabRow" style="display:none">
                            <tr>
                                <td>.</td>
                                <td><input name="nama" type="text" maxlength="50" class="form-control inputtext enter1" id="nama"></td>
                                <td>
                                    <div class="input-group date inputtext enter1" id='datepicker-tt1'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar inputtext"></span>
                                        </span>
                                        <input type='text' name="tgl-lahir-tt1" id="tgl-lahir-tt1" class="form-control inputtext enter1" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group enter1">
                                        <label class="checkbox-inline" id="jk">
                                            <input name="sex1" type="radio" value="Wanita">Wanita
                                        </label>
                                        <label class="checkbox-inline" id="jk1">
                                            <input name="sex1" type="radio" value="Pria">Pria
                                        </label>
                                    </div>
                                </td>
                                <td><input name="usia" type="text" maxlength="50" class="form-control inputtext2 enter1"></td>
                                <td><input name="nama" type="text" maxlength="50" class="form-control inputtext enter1"></td>
                            </tr>
                        </table>
                        <br />

                        <button class="btn btn-warning icon-plus" onclick="add()" type="button">
                            Add
                        </button>


                        <div class="content-tittle-1">
                            <i class="p1"></i> Asuransi Tambahan
                        </div>
                        <input type="hidden" id="hdUP" value="@Model.DataPremi.UangPertanggungan" />
                        <input type="hidden" id="hdRidersData" value="" />
                        <table id="content_tb" class="table table-reg">
                            <thead id="atas">
                                <tr>
                                    <th style="width:250px;">Asuransi Tambahan</th>
                                    @if (Model.TertanggungTambahan.Count > 0)
                                    {
                                        for (int x = 0; x < Model.TertanggungTambahan.Count(); x++)
                                        {
                                            <th style="width:180px;">Ttg. Tambahan @(x + 1)</th>
                                        }
                                    }
                                    else
                                    {
                                        <th style="width:180px;">Ttg. Tambahan 1</th>
                                    }
                                    <th style="width:180px;">Total</th>
                                </tr>
                            </thead>
                            <tbody id="bawah">

                                @*@for (int i = 0; i < Model.TertanggungTambahan[0].Riders.Count(); i++)
                                    {
                                        <tr>
                                            <td>@Model.TertanggungTambahan[0].Riders[i].Rider.RiderCode</td>
                                            @Html.Partial("AdditionalInsuredRiderRow", Model.TertanggungTambahan[0].Riders[i])
                                            <td>0</td>
                                        </tr>
                                    }*@
                                @if (Model.TertanggungTambahan.Count == 1 && Model.Riders.Count == 0)
                                {
                                    for (int i = 0; i < Model.RiderNoData.Count(); i++)
                                    {
                                        <tr>
                                            <td>@Model.RiderNoData[i].Rider.RiderName</td>
                                            <td style="min-width:150px;">
                                                <input type="hidden" name="insuredIndexTd" value="1" />
                                                @Html.Partial("AdditionalInsuredRiderRow", Model.RiderNoData[i])
                                            </td>
                                            <td id="@Model.RiderNoData[i].Rider.RiderCode">0</td>
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.RiderCode)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.Category)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.RiderName)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.AllowAdditionalInsured)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.RiderRates)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.CoverTerm)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.Description)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.DisableRider)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.HasSumInsured)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.HasType)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.InsuredMaxAge)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.InsuredMinAge)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.IsActive)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.MaxAmountSumInsured)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.MaxPercSumInsured)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.MinAmountSumInsured)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.MinPercSumInsured)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.OrderNo)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.PolicyHolderMaxAge)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.PolicyHolderMinAge)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.RiderProducts)
                                            @Html.HiddenFor(m => m.RiderNoData[i].Rider.RiderTypes)
                                        </tr>
                                    }
                                }
                                else
                                {
                                    for (int i = 0; i < Model.Riders.Count();)
                                    {
                                        <tr>
                                            <td>@Model.Riders[i].Rider.RiderCode</td>
                                            @for (int y = 0; y < Model.TertanggungTambahan.Count(); y++,i++)
                                            {
                                                <td style="min-width:150px;">
                                                    <input type="hidden" name="insuredIndexTd" value="@(y+1)" />
                                                    @Html.Partial("AdditionalInsuredRiderRow", Model.Riders[i])
                                                </td>
                                                if (y == Model.TertanggungTambahan.Count() - 1)
                                                {
                                                    <td id="@Model.Riders[i].Rider.RiderCode">0</td>
                                                }
                                                //if (y == 0 && Model.Riders.Count() > Model.RiderNoData.Count())
                                                //{
                                                //    i++;
                                                //}

                                                @Html.HiddenFor(m => m.Riders[i].Rider.RiderCode)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.Category)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.RiderName)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.AllowAdditionalInsured)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.RiderRates)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.CoverTerm)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.Description)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.DisableRider)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.HasSumInsured)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.HasType)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.InsuredMaxAge)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.InsuredMinAge)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.IsActive)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.MaxAmountSumInsured)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.MaxPercSumInsured)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.MinAmountSumInsured)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.MinPercSumInsured)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.OrderNo)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.PolicyHolderMaxAge)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.PolicyHolderMinAge)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.RiderProducts)
                                                @Html.HiddenFor(m => m.Riders[i].Rider.RiderTypes)
                                            }
                                        </tr>
                                    }
                                }
                                <tr><td style="background-color:transparent;">&nbsp;</td></tr>
                                <tr>
                                    <td id="totalTitle" colspan="2" style="text-align:right;background-color:#fff">Total Biaya Asuransi Tertanggung Tambahan</td>
                                    <td id="tdTotalBiayaAsuransiTertanggungTambahan">
                                        @Html.TextBoxFor(m => m.BiayaAsuransiTertanggungTambahan, new { @class = "form-control", @readonly = "readonly",@style = "width:150px" })
                                        <input type="hidden" id="hdUP" value="@up" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.ActionLink("BACK", "Rider", "UnitLink", new { @class = "btn btn-warning" })
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button id="content_clear" class="btn btn-warning" onclick="window.location.href='@Url.Action("ClearUnitLinkAdditionalRiderData", "ClearData")';">
                    CLEAR
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button id="content_save" class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>

    <div id="template">

    </div>
</div>
@Html.Partial("Footer")
@using Newtonsoft.Json

@System.Web.Optimization.Scripts.Render("~/bundles/app")

<script type="text/javascript">
    @{
        var jsonSetting = new JsonSerializerSettings
        { PreserveReferencesHandling = PreserveReferencesHandling.All };
    }

    var riders = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.RiderNoData, jsonSetting)));
    var ridersData = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.Riders, jsonSetting)));
    var ridersDataTtgUtama = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.RidersTertanggungUtama, jsonSetting)));
    var addInsured = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.TertanggungTambahan, jsonSetting)));
    var premiData = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.DataPremi, jsonSetting)));
    var dataNasabah = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.NasabahData, jsonSetting)));
    var ajaxBusy = false;
    $(document).ready(function () {
        $("#loading").hide();
        $(document).ajaxStart(function () {
            ajaxBusy = true;
        }).ajaxStop(function () {
            ajaxBusy = false;
        });

        var RiderCodeRidersDataArray = [];
        RiderCodeRidersDataArray.push("SP");
        for (var i = 0; i < ridersDataTtgUtama.length; i++) {
            if (ridersDataTtgUtama[i].Checked == true) {
                RiderCodeRidersDataArray.push(ridersDataTtgUtama[i].Rider.RiderCode);
            }
        }
        if (RiderCodeRidersDataArray.length > 0)
            $("#hdRidersData").val(RiderCodeRidersDataArray.join(';'));

        var isTertanggungUtama = "@Html.Raw(Model.NasabahData.TertanggungUtama)";
        if (isTertanggungUtama == "Ya") {
            $("#tertanggung_utama").hide();
        }

        $(document).find("input[name*='DateOfBirth']").each(function () {
            var value = $(this).val();
            if (value != "") {
                calcAge(value, function (result) {
                    var age = result;

                    var ageInputName = $(this).attr('name').replace("DateOfBirth", "Age");
                    var ageInput = $('#table_tt tr input[name="' + ageInputName + '"]');
                    ageInput.val(age);
                });
            }

        });

        if (addInsured.length == 1 && addInsured[0].Age == null)
        {
            var code = $("#table_tt tr").eq(0).find("select[name*='KelasPekerjaan']").eq(0).val();
            getKelasPekerjaan(code, function (result) {
                $("#table_tt tr").eq(0).find("input[name*='RiskClass']").eq(0).val(result);
            });
        }

        $(".datepicker").on("focusout", function () {
            var value = $(this).val();
            var ageInputName = $(this).attr('name').replace("DateOfBirth", "Age");
            var ageInput = $('#table_tt tr input[name="' + ageInputName + '"]');
            if (value != null && value != "") {
                calcAge(value, function (result) {
                    var age = result;
                    ageInput.val(age);
                    validateAgeWithElement(age, ageInput);
                    onAgeChanged(ageInput);
                });
            }
        });

        $('#table_tt tr').find('td').each(function () {
            var row = $(this);
            if (row.index() == 1) {
                row.html(row.parent().index() + 1)
            }
        })

        $("#table_tt tr").find("select[name*='Relationship']").each(function () {
            if ($(this).val() == "Pasangan" && $('#@Html.IdFor(m => m.NasabahData.Relation)').val() == "Pasangan") {
                $("#table_tt select[name*='Relationship']:last").prop('selectedIndex', 2);
            }
        });

        $(".date").datetimepicker({
            format: 'DD/MM/YYYY',
        });
        //iterateAllCheckBoxFirst();
        calcTotalCORFirst();
    });

    function genderChange(element) {
        var element = $(element);
        var gender = element.val();

        var relationship = element.parent().parent().parent().parent().find("select[name*='Relationship']").eq(0).val();
        if (relationship == "Pasangan") {
            var mustBeGender = (dataNasabah.JenisKelaminPemegangPolis == "Pria" ? "Wanita" : "Pria");
            if (gender != mustBeGender) {
                alertify.alert('Jenis kelamin pasangan harus ' + mustBeGender);
                element.prop('checked', false);
                element.parent().parent().parent().find("input[value='" + mustBeGender + "']").eq(0).prop('checked', true);
            }
        }

        if (relationship == "Diri Sendiri") {
            var mustBeGender = (dataNasabah.JenisKelaminPemegangPolis == "Pria" ? "Pria" : "Wanita");
            if (gender != mustBeGender) {
                alertify.alert('Jenis kelamin diri sendiri harus ' + mustBeGender);
                element.prop('checked', false);
                element.parent().parent().parent().find("input[value='" + mustBeGender + "']").eq(0).prop('checked', true);
            }
        }
    }

    function calculateAgeSlashDivider(value) {
        if (value != "") {
            var parts = value.split('/');
            var date = new Date(parseInt(parts[2], 10),     // year
                                parseInt(parts[1], 10) - 1, // month, starts with 0
                                parseInt(parts[0], 10));
            var age = calculateAge(date);
            return age;

        }
        return null;
    }
    function add() {

        if (!validateLastInput()) {
            return;
        }
        $.ajax({
            async: false,
            url: '/UnitLink/AddAdditionalInsuredRow'
        }).success(function (partialView) {
            $('#table_tt').append(partialView);

            $('#table_tt tr').find('td').each(function () {
                var row = $(this);
                if (row.index() == 1) {
                    row.html(row.parent().index() + 1)
                }
            });

            $("#table_tt :input[name*='Relationship']:not(:last)").each(function () {
                if($(this).val() == "Pasangan" || $('#@Html.IdFor(m => m.NasabahData.Relation)').val() == "Pasangan")
                {
                    $("#table_tt select[name*='Relationship']:last").prop('selectedIndex', 2);
                }
            });
        });

        $(".date").datetimepicker({
            format: 'DD/MM/YYYY',
        });

        $(".datepicker").on("focusout", function () {
            var value = $(this).val();
            var ageInputName = $(this).attr('name').replace("DateOfBirth", "Age");
            var ageInput = $('#table_tt tr input[name="' + ageInputName + '"]');
            if (value != null && value != "") {
                calcAge(value, function (result) {
                    var age = result;
                    ageInput.val(age);
                    validateAgeWithElement(age, ageInput);
                    onAgeChanged(ageInput);
                });
            }
        });

        var code = $('#table_tt tr').eq($('#table_tt').find("tr").length - 1).find("select[name*='KelasPekerjaan']").eq(0).val();
        getKelasPekerjaan(code, function (result) {
            $("#table_tt tr").eq($('#table_tt').find("tr").length - 1).find("input[name*='RiskClass']").eq(0).val(result);
        });

        $.ajax({
            async: false,
            url: '/UnitLink/AddAdditionalInsuredRiderRow'
        }).success(function (partialView) {

            var partialViews = new Array();
            $.each(JSON.parse(partialView), function (i, obj) {
                partialViews.push(obj);
            });

            var colCount = $('#bawah tr:first >td').length;
            var rowCount = $('#bawah tr').length;
            //myformBawah.find('tr').eq(index).find('td').eq(colCount-2).after(partialView);
            $('#bawah').find('tr').each(function () {
                var trowBawah = $(this);

                if (trowBawah.index() < partialViews.length) {
                    $(this).find('td').eq((colCount - 2)).after('<td style="min-width:150px;"><input type="hidden" name="insuredIndexTd" value="' + (colCount - 1) + '"/>' + partialViews[trowBawah.index()] + '</td>');
                }

            });

            var rowCount = $('#atas tr:first >th').length;
            $('#atas').find('tr').each(function () {
                var trow = $(this);
                if (trow.index() === 0) {
                    $(this).find('th').eq((rowCount - 2)).after('<th style="width:180px;">Ttg. Tambahan ' + (rowCount - 1) + '</th>');
                    $(this).find('th').eq((rowCount)).html("Total");
                }
            });
            $("#totalTitle").attr("colspan", colCount);
        });
    }

    function check(element) {
        var name = element.name;
        name = name.replace("BiayaAsuransi", "Checked");

        // if biaya asuransi input clicked, change checkbox status to check, and trigger the checkbox to be clicked
        //$("input[name='" + name + "']").prop("checked", !$("input[name='" + name + "']").prop("checked"));
        //$("input[name='" + name + "']").click();
        changeChecked($("input[name='" + name + "']"));
    }

    //$('body').on('focus', ".datepicker", function () {

    //   var datePicker = $(this);
    //    //datePicker.attr('readonly');
    //    //datePicker.datetimepicker({
    //    //    format: 'DD/MM/YYYY',
    //    //    widgetPositioning:
    //    //    {
    //    //        horizontal: 'left',
    //    //        vertical: 'bottom'
    //    //    }

    //    //});

    //   datePicker.on("focusout change", function () {
    //        var value = $(this).val();
    //        var ageInputName = $(this).attr('name').replace("DateOfBirth", "Age");
    //        var ageInput = $('#table_tt tr input[name="' + ageInputName + '"]');
    //        if (value != null && value != "") {
    //            calcAge(value, function (result) {
    //                var age = result;
    //                ageInput.val(age);
    //                onAgeChanged(ageInput);
    //                validateAgeWithElement(age, ageInput);
    //            });
    //        }
    //    });
    //});

    function validateAgeWithElement(age, element) {
	    var tr = element.parent().parent();
	    var datePickerInput = tr.find("input[name*='DateOfBirth']").eq(0);
	    var relationInput = tr.find("select[name*='Relationship']").eq(0);
	    var relation = relationInput.val();
	    var ageinput = tr.find("input[name*='Age']").eq(0);;

	    var today = new Date();
	    var dd = today.getDate();
	    var mm = today.getMonth() + 1; //January is 0!
	    var yyyy = today.getFullYear();

	    if (dd < 10) {
	        dd = '0' + dd
	    }
	    if (mm < 10) {
	        mm = '0' + mm
	    }
	    today = dd + '/' + mm + '/' + yyyy;
	    var day = daydiff(parseDateDiff(datePickerInput.val()), parseDateDiff(today));
	    var mainInsuredAge = dataNasabah.UmurPemegangPolis;
	    var code = dataNasabah.NamaProduk;
	    var dateBirth = datePickerInput.val().substring(0, 2);

        if (relation == "Diri Sendiri" && datePickerInput.val() != dataNasabah.TanggalLahirPemegangPolis) {
            alertify.alert("Tanggal Lahir Tertanggung Tambahan dengan relasi diri sendiri harus sama dengan tanggal lahir pemegang polis");
            //datePickerInput.datetimepicker("destroy");
            datePickerInput.val(dataNasabah.TanggalLahirPemegangPolis);
            ageinput.val(mainInsuredAge); return;
        }

        if (age < 0) {
            alertify.alert("Tanggal Lahir Tertanggung Tambahan Tidak Boleh Lebih Dari Hari Ini");
            //datePickerInput.datetimepicker("destroy");
            datePickerInput.val("");
            ageinput.val(""); return;
        }
        if (mainInsuredAge <= age && relation == "Anak Kandung") {
            alertify.alert("Usia Anak Kandung harus lebih kecil daripada usia pemegang polis ");
            //datePickerInput.datetimepicker("destroy");
            datePickerInput.val("");
            element.val(""); return;
        }

        if (age < 17 && (relation == "Pasangan" || relation == "Orang Tua Kandung" || relation == "Orang Tua Angkat")) {
            alertify.alert("Usia Orang Tua dan Pasangan harus lebih dari 17 Tahun");
            //datePickerInput.datetimepicker("destroy");
            datePickerInput.val("");
            ageinput.val(""); return;
        }

        getProduct(code, function (product) {
            var minAge = roundNumber(parseInt(product["InsuredMinAge"]) / 12, 0);
            var maxAge = roundNumber(parseInt(product["InsuredMaxAge"]) / 12, 0);

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var dateBirth = datePickerInput.val().substring(0, 2);
            var monthBirth = datePickerInput.val().substring(3, 5);
            var yearBirth = datePickerInput.val().substring(6, 10);

            var dayDiff = dd - dateBirth;
            var yearDiff = yyyy - yearBirth;
            var monthDiff = (yearDiff * 12) + mm - monthBirth;
            monthDiff = dayDiff >= 0 ? monthDiff : monthDiff - 1;


            if (age >= minAge && age <= maxAge) {
                if (monthDiff >= 1 || age > 0) {
                    ageinput.val(age);
                } else {
                    alertify.alert("Minimal usia tertanggung tambahan adalah 1 bulan dan maksimal adalah " + maxAge + " tahun!");
                    datePickerInput.val("");
                    ageinput.val("");
                    return;
                }
                //if (age > 0 || (parseFloat(day) >= 30 && parseInt(dd) >= parseInt(dateBirth) && age <= 0)) {
                //    ageinput.val(age);
                //}
                //else {
                //    alertify.alert("Minimal usia tertanggung tambahan adalah 1 bulan dan maksimal adalah " + maxAge + " tahun!");
                //    datePickerInput.val("");
                //    ageinput.val("");
                //    return;
                //}

            }
            else {
                if (minAge > 0) {
                    alertify.alert("Minimal usia tertanggung tambahan adalah " + minAge + " tahun dan maksimal adalah " + maxAge + " tahun!");
                }
                else {
                    alertify.alert("Minimal usia tertanggung tambahan adalah 1 bulan dan maksimal adalah " + maxAge + " tahun!");
                }

                datePickerInput.val("");
                ageinput.val("");
                return;
            }
        });
    }
    // replace the 'n'th character of 's' with 't'
    function replaceAt(s, n, t) {
        return s.substring(0, s.length - 1) + t;
    }


    //$('body').on('click', "#datepick", function () {
    //    $(this).find("input:text").focus();
    //});

    function validateLastInput() {
        $("#bawah").find("td input").each(function () {
            var row = $(this);

            //console.log(row.attr('name'));
        });

        var messageArr = Array();
        $("#table_tt").find("td input").each(function () {
            var row = $(this);

            var value = row.val();
            if (value == "") {
                messageArr.push(getInputTypeByName(row.attr('name')));
                //console.log(row.val());
            }
        });

        if (messageArr.length > 0) {
            var errMsg = "Mohon untuk mengisi ";
            for (var i = 0; i < messageArr.length; i++) {
                errMsg += messageArr[i] + ", ";
            }

            errMsg = errMsg.substring(0, errMsg.length - 2) + " Tertanggung Tambahan.";

            alertify.alert(errMsg);
            return false;
        } else {
            return true;
        }
    }

    function getInputTypeByName(name) {
        if (name.indexOf("Nama") >= 0) {
            return "Nama";
        } else if (name.indexOf("DateOfBirth") >= 0) {
            return "Tanggal Lahir";
        } else if (name.indexOf("Age") >= 0) {
            return "Umur";
        } else if (name.indexOf("Nama") >= 0) {
            return "Nama";
        }
    }

    function isBirthdateInputtedAtIndex(index) {
        var inputted = true;
        $("#table_tt").find("tr").eq(index).find("td input").each(function () {
            var input = $(this);
            // loop all input at index inputted and check if date of birth is inputted, if no return false
            if (input.attr('name').indexOf("DateOfBirth") >= 0 && input.val() == "") {
                inputted = false;
            }
        });
        // at the end of iteration return true if iteration don't return false
        return inputted;
    }

    function isGenderChoosedAtIndex(index) {
        var inputted = false;
        var gender = $("#table_tt").find("tr").eq(index).find("td input[name*='Gender']:checked").val();
        //check if gender already inputted
        if (gender != null && gender != 'undefined') {
            inputted = true;
        }
        // at the end of iteration return true if iteration don't return false
        return inputted;
    }

    function getAgeInputtedAtIndex(index) {
        var age = 0;
        $("#table_tt").find("tr").eq(index).find("td input").each(function () {
            var input = $(this);
            // loop all input at index inputted and check if date of birth is inputted
            if (input.attr('name').indexOf("Age") >= 0 && input.val() != "") {
                var value = input.val();
                age = value;
            }
        });


        // at the end of iteration return the age inputted
        return age;
    }

    function getRiskClassInputtedAtIndex(index) {
        var riskClass = 0;
        $("#table_tt").find("tr").eq(index).find("td input").each(function () {
            var select = $(this);
            // loop all input at index inputted and check if date of birth is inputted
            if (select.attr('name').indexOf("RiskClass") >= 0 && select.val() != "") {
                riskClass = select.val();
            }
        });
        // at the end of iteration return the age inputted
        return riskClass;
    }

    function checkIfThereEmptyValue() {
        var errorMessage = new Array();

        $('#table_tt tr').each(function (i) {

            var tempArray = new Array();


            $(this).find('input').each(function () {
                var id = $(this).attr('name');
                if (id.length > 1) {
                    id = id.charAt(id.length - 1);
                }
                var value = $(this).val();

                switch (parseInt(id)) {
                    case 1:
                        if (value.length == 0) {
                            errorMessage.push("nama");
                            return;
                        }
                        tempArray.push(value);
                        break;
                    case 2:
                        if (value.length == 0) {
                            errorMessage.push("tanggal lahir");
                            return;
                        }
                        tempArray.push(value);
                        break;
                    case 3:
                        if ($(this).prop('checked')) {
                            tempArray.push(value);
                        }
                        break;
                    case 4:
                        if (value.length == 0) {
                            return;
                        }
                        tempArray.push(value);
                        break;
                    case 5:
                        if (value.length == 0) {
                            errorMessage.push("pekerjaan");
                            return;
                        }
                        tempArray.push(value);
                        break;
                    default: break;
                }
            });

        });

        return errorMessage;
    }

    $('#add').click(function () {


        var errorMessage = checkIfThereEmptyValue();

        // return if any error occured
        if (errorMessage.length > 0) {
            var error = " ";
            // build error message from error array

            for (var n = 0; n < errorMessage.length; n++) {
                if (n == errorMessage.length - 1) {
                    error += "dan " + errorMessage[n];
                    break;
                }
                error += errorMessage[n] + ", ";
            }
            if (errorMessage.length == 1) {
                error = errorMessage[0];
            }
            alertify.alert('Mohon isi kolom ' + error);
            return;
        }

        // if no error occured, add row for additional insured and add rider additional insured row
        addTableRowTT($('.tablew'));

        var colCount = $('#bawah tr:first >td').length;
        var rowCount = $('#bawah tr').length;
        myformBawah.find('tr').each(function () {
            var trowBawah = $(this);
            var newId = (trowBawah.index() + 1 + 100) + ((colCount - 2) * 10);

            if (trowBawah.index() < (rowCount - 1)) {
                $(this).find('td').eq((colCount - 2)).after("<td><div class='checkbox'><label><input type='checkbox' value='' name='" + newId + "' onchange='checkedChange(this)'> <span>0</span> </label></div></td>");
            }

        });

        var rowCount = $('#atas tr:first >th').length;
        myform.find('tr').each(function () {
            var trow = $(this);
            if (trow.index() === 0) {
                $(this).find('th').eq((rowCount - 2)).after('<th style="width:180px;">Ttg. Tambahan ' + (rowCount - 1) + '</th>');
            }
        });
    });

    var myform = $('#atas');
    $('#add').click(function () {

    });

    var myformBawah = $('#bawah');
    $('#add').click(function () {


    });

    function next() {
        if (!ajaxBusy)
            $("#form").submit();

        $(document).ajaxStop(function () {
            $("#form").submit();
        })
    }


    function checkedChange(el) {        
        var element = $(el);
        var name = element.attr('name');
        var rowIndex = element.parent().parent().parent().index();
        var insIndexReal = element.parent().parent().index();
        var insuredIndex = element.parent().parent().find("input[name='insuredIndexTd']").eq(0).val();
        var rider = riders[rowIndex].Rider;

        if (!allowAdditionalInsured(rider, insuredIndex,rowIndex)) {
            alertify.alert("Anda tidak dapat menambahkan tertanggung tambahan pada rider ini");
            element.prop('checked', false);
            return;
        }

        if (!isBirthdateInputtedAtIndex(insuredIndex - 1)) {
            // if user not input birth date value, alert him and uncheck the checkbox
            alertify.alert("Masukkan tanggal lahir tertanggung tambahan " + insuredIndex);
            element.prop('checked', false);
            return;
        }

        if (!isGenderChoosedAtIndex(insuredIndex - 1)) {
            // if user not input gender, alert
            alertify.alert("Masukkan jenis kelamin tertanggung tambahan " + insuredIndex);
            element.prop('checked', false);
            return;
        }

        var insuredAge = getAgeInputtedAtIndex(insuredIndex - 1);
        var relation = $("#table_tt").find("tr").eq(insuredIndex - 1).find("select[name*='Relationship']").eq(0).val();
        if (!isCoveredByRider(rider, insuredAge, relation)) {
            // if insured age is not covered by rider
            alertify.alert("Umur Tertanggung tambahan " + insuredIndex + " tidak memenuhi syarat untuk mengambil rider ini");
            element.prop('checked', false);
        }

        var checked = element.prop("checked");
        var upInput = element.parent().find("input[name*='UangPertanggungan']").eq(0);
        var riderSelection = element.parent().find("select[name*='Choice']").eq(0);
        var unitNameSelection = element.parent().find("select[name*='UnitName']").eq(0);
        var unitSelection = element.parent().find("select[name*='Unit']").eq(1);

        if (upInput.attr('name') != null) {

            upInput.attr("readonly", !checked);
            disabledRiderWithName(riders[rowIndex].Rider.DisableRider, insIndexReal, checked);

            var upDasar = parseFloat(toDoubleFormat(premiData.UangPertanggungan));
            var minPercentageUp = rider.MinPercSumInsured;
            var minAmountUp = rider.MinAmountSumInsured;
            var maxAmountUp = rider.MaxAmountSumInsured;

            if (upInput.val() == "" || upInput.val() == "0")
            {
                if (minPercentageUp != null) {
                    if (minAmountUp != null && upDasar < minAmountUp) {
                        upInput.val(checked ? toMoneyFormat(minAmountUp) : "");
                    } else if (minAmountUp != null && upDasar >= minAmountUp) {
                        upInput.val(checked ? toMoneyFormat(upDasar) : "");
                        if (maxAmountUp != null && upDasar > maxAmountUp)
                            upInput.val(checked ? toMoneyFormat(maxAmountUp) : "");
                    } else if (minAmountUp == null) {
                        upDasar = (minPercentageUp / 100) * upDasar;
                        upInput.val(checked ? toMoneyFormat(upDasar) : "");
                    }
                }
            }
            
            validateValueInputted(upInput, checked);
        } else if (unitNameSelection.attr('name') != null) {
            disabledRiderWithName(riders[rowIndex].Rider.DisableRider, insIndexReal, checked);

            //unitNameSelection.attr('readonly', !checked);
            //unitSelection.attr('readonly', !checked);

            var unitName = unitNameSelection.val();
            var unit = unitSelection.val();

            unitNameChanged(unitNameSelection, checked);
        } else if (riderSelection.attr('name') != null) {
            disabledRiderWithName(riders[rowIndex].Rider.DisableRider, insIndexReal, checked);
            //riderSelection.attr('readonly', !checked);

            unitRiderChanged(riderSelection, checked);
        }

    }

    function disabledRiderWithName(disabledRider, insuredIndex, checked) {
        if (disabledRider != null) {
            var disabledRiderNames = disabledRider.split(";");

            for (var i = 0; i < disabledRiderNames.length; i++) {
                var disabledRiderName = disabledRiderNames[i];
                $('#bawah').find('td:contains("' + disabledRiderName + '")').each(function () {
                    var span = $(this);
                    if (span.html().replace(/&amp;/g, '&') == disabledRiderName) {
                        var row = span.parent().children().eq(insuredIndex);
                        var disableCheckbox = row.find("input[name*='Checked']").eq(0);
                        if (checked && span.html().replace(/&amp;/g, '&') == disabledRiderName) {
                            //disableCheckbox.click(function () {
                            //    return false;
                            //});
                            disableCheckbox.attr("disabled", true);
                        } else {
                            //disableCheckbox.prop('onclick', null).off('click');
                            disableCheckbox.removeAttr("disabled");
                        }
                    }
                });
            }
        }

    }

    function allowAdditionalInsured(rider, insuredIndex, rowIndex) {
        var allow = rider.AllowAdditionalInsured;
        var relation = $("#table_tt").find("tr").eq(insuredIndex - 1 ).find("select[name*='Relationship']").eq(0).val();
        var ret = false; var allowed = $("#hdRidersData").val(); var arrayallowed = [];
        if (allowed != "")
            arrayallowed = allowed.split(";");

        if ($.inArray(rider.RiderCode, arrayallowed) > -1)
            ret = true;
        else
            uncheckAllRiderCode(rider.RiderCode, rowIndex);

        return (allow == "YES" || (allow == "2" && insuredIndex <= 2)) && ret;
    }

    function uncheckAllRiderCode(code,index)
    {
        $("#bawah").find("tr").eq(index).find("input[name*='Checked']").each(function () {
            $(this).prop('checked',false);
        });

        $("#bawah").find("tr").eq(index).find("input[name*='UangPertanggungan']").each(function () {
            $(this).val("");
        });

        $("#bawah").find("tr").eq(index).find("input[name*='BiayaAsuransi']").each(function () {
            $(this).val("");
        });

        $("#"+code).html("0");
        calcTotalAdditionalInsured();
    }

    function riderTypeCheckedChange(element) {
        console.log("rider");
        var element = $(element);
        var tr = element.parent().parent().parent().parent();
        var rowIndex = $(element).closest("tr").index();
        var td = element.parent().parent().parent();
        var insuredIndex = td.find("input[name='insuredIndexTd']").eq(0).val();
        var typeIndex = element.parent().index();
        var isChecked = element.prop("checked");
        var insuredAge = getAgeInputtedAtIndex(insuredIndex - 1);
        var riskClass = getRiskClassInputtedAtIndex(insuredIndex - 1);
        var rider = riders[rowIndex].Rider;
        //var riderType = rider.RiderTypes[typeIndex];
        var riderType = rider.RiderTypes[typeIndex] == undefined ? riders[rowIndex].Choices[typeIndex].RiderType : rider.RiderTypes[typeIndex];
        var riderTypeId = riderType.RiderTypeId;
        var relation = $("#table_tt").find("tr").eq(insuredIndex - 1).find("select[name*='Relationship']").eq(0).val();
        var up = 0;
        var corInput = $(element).parent().find("input[name*='BiayaAsuransi']").eq(0);
        
        if (!allowAdditionalInsured(rider, insuredIndex,rowIndex)) {
            alertify.alert("Anda tidak dapat menambahkan tertanggung tambahan pada rider ini");
            element.prop('checked', false);
            isChecked = false;
            return;
        }

        if (rider.RiderCode == "SP" && relation != "Pasangan" && isChecked) {
            alertify.alert("Rider SP hanya bisa diambil untuk tertanggung tambahan dengan status pasangan");
            element.prop('checked', false);
            isChecked = false;
            return;
        }

        if (!isBirthdateInputtedAtIndex(insuredIndex - 1)) {
            // if user not input birth date value, alert him and uncheck the checkbox
            alertify.alert("Masukkan tanggal lahir tertanggung tambahan " + insuredIndex);
            element.prop('checked', false);
            return;
        }

        if (!isGenderChoosedAtIndex(insuredIndex - 1)) {
            // if user not input gender, alert
            alertify.alert("Masukkan jenis kelamin tertanggung tambahan " + insuredIndex);
            element.prop('checked', false);
            return;
        }

        var insuredAge = getAgeInputtedAtIndex(insuredIndex - 1);
        var relation = $("#table_tt").find("tr").eq(insuredIndex - 1).find("select[name*='Relationship']").eq(0).val();
        if (!isCoveredByRider(rider, insuredAge,relation)) {
            // if insured age is not covered by rider
            alertify.alert("Umur Tertanggung tambahan " + insuredIndex + " tidak memenuhi syarat untuk mengambil rider ini");
            element.prop('checked', false);
            isChecked = false;
            return;
        }
        calcUnitLinkCOR(up, rider.RiderCode, riderTypeId, insuredAge, null, rider.Category, null, function (cor) {
            var currentCor = parseInt(toDecimalFormat(corInput.val()));
            var val = isChecked ? roundNumber(cor.cor, 0) : 0;
            corInput.val(val);
            $(element).parent().parent().find("input[name*='UangPertanggungan']").eq(0).val(toMoneyFormat(cor.upR));
            calcTotalCOR(rider.RiderCode, rowIndex);
            calcTotalAdditionalInsured();
        });
    }

    function isCoveredByRider(rider, age, relation) {
        var childMaxAge = rider.ChildInsuredMaxAge / 12;
        var childMinAge = parseInt(rider.ChildInsuredMinAge / 12);
        var maxAge = rider.InsuredMaxAge / 12;
        var minAge = parseInt(rider.InsuredMinAge / 12);
        var covered = true;

        if (rider.ChildInsuredMaxAge != null && rider.ChildInsuredMinAge != null && (relation == "Anak Angkat" || relation == "Anak Kandung"))
            covered = age <= childMaxAge && age >= childMinAge;
        else
            covered = age <= maxAge && age >= minAge;

        return covered;
    }
    function unitRiderChanged(element, checked) {
        console.log("unit");
        var element = $(element);
        var tr = element.parent().parent().parent().parent();
        var rowIndex = tr.index();
        var td = element.parent().parent().parent();
        var insuredIndex = td.find("input[name='insuredIndexTd']").eq(0).val();
        var rider = riders[rowIndex].Rider;
        var up = 0;
        var insuredAge = getAgeInputtedAtIndex(insuredIndex - 1);
        var riskClass = getRiskClassInputtedAtIndex(insuredIndex - 1);
        var corInput = $(element).parent().find("input[name*='BiayaAsuransi']").eq(0);
        var checkbox = td.find("input[name*='" + element.prop('name').replace("Choice", "Checked") + "']").eq(0);
        var isChecked = typeof checked !== "undefined" ? checked : checkbox.prop('checked');
        var riderTypeId = element.val();
        var ret = true;

        if (!isChecked) {
            corInput.val("");
            calcTotalCOR(rider.RiderCode, rowIndex);
            calcTotalAdditionalInsured();
            return ret;
        }

        if (!allowAdditionalInsured(rider, insuredIndex,rowIndex)) {
            alertify.alert("Anda tidak dapat menambahkan tertanggung tambahan pada rider ini");
            checkbox.prop('checked', false);
        }

        if (!isBirthdateInputtedAtIndex(insuredIndex - 1)) {
            // if user not input birth date value, alert him and uncheck the checkbox
            alertify.alert("Masukkan tanggal lahir tertanggung tambahan " + insuredIndex);
            checkbox.prop('checked', false);
        }
        
        var relation = $("#table_tt").find("tr").eq(insuredIndex - 1).find("select[name*='Relationship']").eq(0).val();
        if (!isCoveredByRider(rider, insuredAge,relation)) {
            // if insured age is not covered by rider
            alertify.alert("Umur Tertanggung tambahan " + insuredIndex + " tidak memenuhi syarat untuk mengambil rider ini");
            checkbox.prop('checked', false);
        }

        calcUnitLinkCOR(up, rider.RiderCode, riderTypeId, insuredAge, null, rider.Category, null, function (cor) {
            corInput.val(checkbox.prop('checked') ? toMoneyFormat(cor) : "");
            calcTotalCOR(rider.RiderCode, rowIndex);
            calcTotalAdditionalInsured();
        });
    }

    //function validateValueInputted(element) {
    //    validateValueInputted(element, true);
    //}

    function calcTotalAdditionalInsured() {
        var totalAdditionalInsured = parseInt(0);
        $("#bawah").find("input[name*='BiayaAsuransi']").each(function () {
            if ($(this).attr("id") != '@Html.IdFor(m => m.BiayaAsuransiTertanggungTambahan)') {
                var total = $(this).val().replace(/,/g, "");
                if (total != "" && !isNaN(total)) {
                    totalAdditionalInsured = totalAdditionalInsured + parseInt(total);
                }
            }
        });
        $('#@Html.IdFor(m => m.BiayaAsuransiTertanggungTambahan)').val(toMoneyFormat(totalAdditionalInsured));
    }

    function validateValueInputted(element, checked) {
        var element = $(element); var alert = "";
        var tr = element.parent().parent().parent().parent();
        var rowIndex = tr.index();
        var td = element.parent().parent().parent();
        var insuredIndex = td.find("input[name='insuredIndexTd']").eq(0).val();
        var up = toDecimalFormat($('#hdUP').val());
        var rider = riders[rowIndex].Rider;
        var check = td.find("input[name*='Checked']").eq(0).prop('checked');

        // if the element that checked is sum insured textbox
        var sumInsuredReal = parseFloat(toDoubleFormat(element.val()));
        var sumInsured = parseFloat(toDoubleFormat(element.val()));
        var maxSumInsured = rider.MaxAmountSumInsured;
        var minSumInsured = rider.MinAmountSumInsured;

        if (!isNumeric(toDecimalFormat(element.val()))) {
            alert = "Uang Pertanggungan harus angka";
            element.val(fillUpAfterWrong(rider)); sumInsured = toDecimalFormat(fillUpAfterWrong(rider));
        } else {
            var perc = (sumInsured / up) * 100;
            var maxPercentage = rider.MaxPercSumInsured;
            var minPercentage = rider.MinPercSumInsured; var salah = "min";
            if (minPercentage != null && perc < minPercentage && check) {
                if (alert == "")
                    alert = "Minimal uang pertanggungan untuk " + rider.RiderName + " adalah " + minPercentage + "% dari uang pertanggungan dasar";

                sumInsured = (minPercentage / 100) * up > minSumInsured ? (minPercentage / 100) * up : minSumInsured;
                element.val(toMoneyFormat(sumInsured)); salah = "min";
            }
            if (maxPercentage != null && perc > maxPercentage && check) {
                if (alert == "")
                    alert = "Maksimal uang pertanggungan untuk " + rider.RiderName + " adalah " + maxPercentage + "% dari uang pertanggungan dasar";

                sumInsured = (maxPercentage / 100) * up > maxSumInsured ? maxSumInsured : (maxPercentage / 100) * up;
                element.val(toMoneyFormat(sumInsured)); salah = "max";
            }

            if (minSumInsured != null && sumInsured < minSumInsured && check) {
                if (alert == "")
                    alert = "Minimal uang pertanggungan untuk " + rider.RiderName + " adalah " + toMoneyFormat(minSumInsured);
                else
                    alert += " dengan minimal nilai " + toMoneyFormat(minSumInsured);

                sumInsured = (minPercentage / 100) * up > minSumInsured ? (minPercentage / 100) * up : minSumInsured;
                element.val(toMoneyFormat(sumInsured)); salah = "min";
            }

            if (maxSumInsured != null && sumInsured > maxSumInsured && check) {
                if (alert == "")
                    alert = "Maksimal uang pertanggungan untuk " + rider.RiderName + " adalah " + toMoneyFormat(maxSumInsured);
                else
                    alert += " dengan maksimal nilai " + toMoneyFormat(maxSumInsured);

                sumInsured = (maxPercentage / 100) * up > maxSumInsured ? maxSumInsured : (maxPercentage / 100) * up;
                element.val(toMoneyFormat(sumInsured)); salah = "max";
            }

            var findUp = $.grep(ridersDataTtgUtama, function (e) { return e.Rider.RiderCode == rider.RiderCode; });
            var upTtu = findUp[0].UangPertanggungan != null ? toDoubleFormat(findUp[0].UangPertanggungan) : 0;

            if (sumInsuredReal > upTtu) {
                alert = "Uang pertanggungan tertanggung tambahan tidak boleh lebih besar dari tertanggung utama";

                sumInsured = upTtu;
                element.val(toMoneyFormat(sumInsured));
            }

            if ((((sumInsured * 100 / up)) % 5) != 0 && rider.RiderCode == "CI" && sumInsured != maxSumInsured) {
                if (((minPercentage / 100) * up) > maxSumInsured == false) {
                    if (alert == "")
                        alert = "Persentase rider CI harus kelipatan 5% dari uang pertanggungan dasar";
                    else
                        alert += " dan persentase rider CI harus kelipatan 5% dari uang pertanggungan dasar";

                    sumInsured = salah == "min" ? ((minPercentage / 100) * up) > minSumInsured ? (minPercentage / 100) * up : minSumInsured : maxSumInsured;
                } else {
                    sumInsured = maxSumInsured;
                }
                element.val(toMoneyFormat(sumInsured));
            }
            //if (rider.RiderCode == "CI" && (((sumInsured * 100 / up)) % 5) != 0)
            //{
            //    if (alert == "")
            //        alert = "Persentase rider CI harus kelipatan 5% dari uang pertanggungan";

            //    element.val(fillUpAfterWrong(rider));
            //    sumInsured = toDecimalFormat(fillUpAfterWrong(rider));
            //}
        }
        var insuredAge = getAgeInputtedAtIndex(insuredIndex - 1);
        var riskClass = getRiskClassInputtedAtIndex(insuredIndex - 1);
        calcUnitLinkCOR(toDecimalFormat(sumInsured), rider.RiderCode, null, insuredAge, riskClass, rider.Category, null, function (cor) {
            var corInput = $(element).parent().find("input[name*='BiayaAsuransi']").eq(0);
            corInput.val(check ? toMoneyFormat(cor) : "");
            calcTotalCOR(rider.RiderCode, rowIndex);
            calcTotalAdditionalInsured();
        });

        if (alert != "" && sumInsured != sumInsuredReal) {
            alertify.alert(alert);
            return;
        }
    }


    function calcTotalCORFirst() {
        var insIndex = addInsured.length;
        $('#bawah').children().each(function () {
            var row = $(this);
            var total = 0;
            var index = row.index();

            /// calculate last inputted biaya asuransi total
            row.find("input[name*='BiayaAsuransi']").each(function () {
                var input = $(this);
                total += parseFloat(toDoubleFormat(input.val()));
            })
            if ((addInsured.length == 0 && index < riders.length) || (addInsured.length > 0 && (index < (ridersData.length / addInsured.length) || index < (riders.length / addInsured.length)))) {
                var riderCode = riders[index].Rider.RiderCode;
                $('#' + riderCode).html(toMoneyFormat(total));
            }

            row.find("input[name*='index']").each(function () {
                var prefix = $(this).val();
                // make input readonly or not based on last inputted and checked checkbox value
                var upInput = row.find("input[name='Riders[" + prefix + "].UangPertanggungan']").eq(0);

                var riderSelection = row.find("select[name='Riders[" + prefix + "].Choice']").eq(0);
                var unitNameSelection = row.find("select[name='Riders[" + prefix + "].UnitName']").eq(0);
                var unitSelection = row.find("select[name='Riders[" + prefix + "].Unit']").eq(0);

                var unitNameCheckbox = row.find("input[name='Riders[" + prefix + "].Checked']").eq(0);
                var checked = unitNameCheckbox.prop('checked');
                if (unitNameSelection.attr('name') != null && checked) {
                    unitNameSelection.attr('readonly', false);
                    unitSelection.attr('readonly', false);
                }

                var riderSelectionCheckbox = row.find("input[name='Riders[" + prefix + "].Checked']").eq(0);
                checked = riderSelectionCheckbox.prop('checked');
                if (riderSelection.attr('name') != null && checked) {
                    riderSelection.attr('readonly', false);
                }

                var upCheckbox = row.find("input[name='Riders[" + prefix + "].Checked']").eq(0);
                checked = upCheckbox.prop('checked');
                //if (upInput.attr('name') != null && checked) {
                //    upInput.attr('readonly', false);
                //}
            });
        });
    }

    function calcTotalCOR(riderCode, rowIndex) {
        var total = 0;
        $('#bawah').children().eq(rowIndex).find("input[name*='BiayaAsuransi']").each(function () {
            var input = $(this);
            total += parseFloat(toDoubleFormat(input.val()));
        });
        $('#' + riderCode).html(toMoneyFormat(total));
    }


    function unitNameChanged(element, checked) {
        var element = $(element);
        var tr = element.parent().parent().parent().parent();
        var rowIndex = tr.index();
        var td = element.parent().parent().parent();
        var insuredIndex = td.find("input[name='insuredIndexTd']").eq(0).val();

        var rider = riders[rowIndex].Rider;

        var up = 0;
        var insuredAge = getAgeInputtedAtIndex(insuredIndex - 1);
        var riskClass = getRiskClassInputtedAtIndex(insuredIndex - 1);
        var checkboxName = element.prop('name').replace("UnitName", "Checked");
        var isChecked = typeof checked !== "undefined" ? checked : td.find("input[name='" + checkboxName + "']").eq(0).prop('checked');
        var upTtu = toDecimalFormat($('#hdUP').val());
        var corInput = $(element).parent().find("input[name*='BiayaAsuransi']").eq(0);

        if (!isChecked) {

            corInput.val("");
            calcTotalCOR(rider.RiderCode, rowIndex);
            calcTotalAdditionalInsured();
            return;
        }
        getRiderSumInsured(insuredAge, function (si) {
            if (si == true) {
                var riderTypeId = element.val();
                var unit = element.next().val();

                getUnitMapping(rider.RiderCode, riderTypeId, upTtu, function (getMapUnit) {
                    if (getMapUnit != "0") {
                        var mapUnit = getMapUnit["Unit"];

                        if (parseInt(mapUnit) >= parseInt(unit)) {
                            calcUnitLinkCOR(up, rider.RiderCode, riderTypeId, insuredAge, null, rider.Category, unit, function (cor) {
                                var corInput = $(element).parent().find("input[name*='BiayaAsuransi']").eq(0);
                                corInput.val(isChecked ? toMoneyFormat(cor) : "");
                                calcTotalCOR(rider.RiderCode, rowIndex);
                                calcTotalAdditionalInsured();
                            });
                        }
                        else {
                            if (parseInt(mapUnit) > 0) {
                                alertify.alert("Maximum limit " + rider.RiderCode + " adalah " + mapUnit + " Unit");
                            }
                            else {
                                getSantunanHarian(rider.RiderCode, riderTypeId, function (santunan) {
                                    alertify.alert("Limit santunan " + rider.RiderCode + " adalah " + toMoneyFormat(santunan));
                                });
                            }

                            var corInput = $(element).parent().find("input[name*='BiayaAsuransi']").eq(0);
                            corInput.val("");
                            calcTotalCOR(rider.RiderCode, rowIndex);
                            calcTotalAdditionalInsured();
                        }
                    }
                    else {
                        calcUnitLinkCOR(up, rider.RiderCode, riderTypeId, insuredAge, null, rider.Category, unit, function (cor) {
                            var corInput = $(element).parent().find("input[name*='BiayaAsuransi']").eq(0);
                            corInput.val(isChecked ? toMoneyFormat(cor) : "");
                            calcTotalCOR(rider.RiderCode, rowIndex);
                            calcTotalAdditionalInsured();
                        });
                    }
                });
            }
        });
    }


    function unitChanged(element, checked) {
        var element = $(element);
        var tr = element.parent().parent().parent().parent();
        var rowIndex = tr.index();
        var td = element.parent().parent().parent();
        var insuredIndex = td.find("input[name='insuredIndexTd']").eq(0).val();

        var up = 0;
        var rider = riders[rowIndex].Rider;
        var insuredAge = getAgeInputtedAtIndex(insuredIndex - 1);
        var upTtu = toDecimalFormat($('#hdUP').val());

        var checkboxName = element.prop('name').replace("UnitName", "Checked");
        var isChecked = typeof checked !== "undefined" ? checked : td.find("input[name='" + checkboxName + "']").eq(0).prop('checked');

        if (!isChecked) return;
        getRiderSumInsured(insuredAge, function (si) {
            if (si == true) {
                var unit = element.val();
                var riderTypeId = element.prev().val();

                getUnitMapping(rider.RiderCode, riderTypeId, upTtu, function (getMapUnit) {
                    if (getMapUnit != "0") {
                        var mapUnit = getMapUnit["Unit"];

                        if (parseInt(mapUnit) >= parseInt(unit)) {
                            calcUnitLinkCOR(up, rider.RiderCode, riderTypeId, insuredAge, null, rider.Category, unit, function (cor) {
                                var corInput = $(element).parent().find("input[name*='BiayaAsuransi']").eq(0);
                                corInput.val(isChecked ? toMoneyFormat(cor) : "");
                                calcTotalCOR(rider.RiderCode, rowIndex);
                                calcTotalAdditionalInsured();
                            });
                        }
                        else {
                            if (parseInt(mapUnit) > 0) {
                                alertify.alert("Maximum limit " + rider.RiderCode + " adalah " + mapUnit + " Unit");
                            }
                            else {
                                getSantunanHarian(rider.RiderCode, riderTypeId, function (santunan) {
                                    alertify.alert("Limit santunan " + rider.RiderCode + " adalah " + toMoneyFormat(santunan));
                                });
                            }

                            var corInput = $(element).parent().find("input[name*='BiayaAsuransi']").eq(0);
                            corInput.val("");
                            calcTotalCOR(rider.RiderCode, rowIndex);
                            calcTotalAdditionalInsured();
                        }
                    }
                    else {
                        calcUnitLinkCOR(up, rider.RiderCode, riderTypeId, insuredAge, null, rider.Category, unit, function (cor) {
                            var corInput = $(element).parent().find("input[name*='BiayaAsuransi']").eq(0);
                            corInput.val(isChecked ? toMoneyFormat(cor) : "");
                            calcTotalCOR(rider.RiderCode, rowIndex);
                            calcTotalAdditionalInsured();
                        });
                    }
                });
            }
        });
    }

    function onClassRiskChange(element) {
        var element = $(element);
        var insuredIndex = element.parent().parent().index();
        var relationship = element.parent().parent().find("select[name*='Relationship']").eq(0).val();

        if (element.find("option:selected").text() != $("#PekerjaanPemegangPolis").val() && relationship == "Diri Sendiri") {
            $("#table_tt tr").eq(insuredIndex).find("select[name*='KelasPekerjaan']").eq(0).find("option:contains(" + $("#PekerjaanPemegangPolis").val() + ")").prop("selected", true);
            alertify.alert("Pekerjaan diri sendiri harus sama dengan pemegang polis");
            return;
        }

        getKelasPekerjaan(element.val(), function (result) {
            $("#table_tt tr").eq(insuredIndex).find("input[name*='RiskClass']").eq(0).val(result);

        $("#bawah").find('td').each(function () {
            var row = $(this);
            var insuredIndexTd = row.find("input[name='insuredIndexTd']").eq(0).val();
            if (insuredIndexTd == insuredIndex + 1) {
                var checkbox = row.find("input[name*='Checked']").eq(0);
                var categoryRider = row.find("input[name*='Rider.Category']").eq(0).val();

                if (checkbox.prop('checked') && categoryRider != "Choices")
                    checkedChange(checkbox);
                else if (categoryRider == "Choices") {
                    var choicesSelection = row.find("input[name*='Checked']");
                    $(choicesSelection).each(function () {
                        if ($(this).attr('id') != null) {
                            var checked = $(this).prop('checked');
                            if (checked) {
                                var domobject = $(this)[0];
                                riderTypeCheckedChange(domobject);
                            }
                        }
                    });
                }
                //var upInput = row.find("input[name*='UangPertanggungan']").eq(0);

                //var riderSelection = row.find("select[name*='Choice']").eq(0);
                //var unitNameSelection = row.find("select[name*='UnitName']").eq(0);
                //var unitSelection = row.find("select[name*='Unit']").eq(1);

                //if (unitNameSelection.attr('name') != null) {
                //    var unitNameCheckbox = row.find("input[name*='Checked']").eq(0);
                //    var checked = unitNameCheckbox.prop('checked');
                //    if (checked)
                //        unitNameChanged(unitNameSelection, checked);
                //}

                //if (riderSelection.attr('name') != null) {
                //    var riderSelectionCheckbox = row.find("input[name*='Checked']").eq(0);
                //    var checked = riderSelectionCheckbox.prop('checked');
                //    if (checked)
                //        unitRiderChanged(riderSelection, checked);
                //}

                //if (upInput.attr('name') != null) {
                //    var upCheckbox = row.find("input[name*='Checked']").eq(0);
                //    var checked = upCheckbox.prop('checked');
                //    if (checked)
                //        validateValueInputted(upInput, checked);
                //}
            }
        });
        });
    }

    function onAgeChanged(element) {        
        var element = $(element);
        var insuredIndex = element.parent().parent().index();
        
        $("#bawah").find('td').each(function () {
            var row = $(this);
            var insuredIndexTd = row.find("input[name='insuredIndexTd']").eq(0).val();
            if (insuredIndexTd == insuredIndex + 1) {
                var checkbox = row.find("input[name*='Checked']").eq(0);
                var categoryRider =  row.find("input[name*='Rider.Category']").eq(0).val();

                if (checkbox.prop('checked') && categoryRider != "Choices")
                    checkedChange(checkbox);
                else if(categoryRider == "Choices")
                {
                    var choicesSelection = row.find("input[name*='Checked']");
                    $(choicesSelection).each(function () {
                            if ($(this).attr('id') != null) {
                                var checked = $(this).prop('checked');
                                if (checked) {
                                    var domobject = $(this)[0];
                                    riderTypeCheckedChange(domobject);
                                }
                            }
                        });
                }
                //var upInput = row.find("input[name*='UangPertanggungan']").eq(0);

                //var riderSelection = row.find("select[name*='Choice']").eq(0);
                //var unitNameSelection = row.find("select[name*='UnitName']").eq(0);
                //var unitSelection = row.find("select[name*='Unit']").eq(1);


                //var unitNameCheckbox = row.find("input[name*='Checked']").eq(0);
                //var checked = unitNameCheckbox.prop('checked');
                //if (unitNameSelection.attr('name') != null && checked) {
                //    unitNameChanged(unitNameSelection, checked);
                //    unitNameSelection.attr('readonly', false);
                //}


                //var riderSelectionCheckbox = row.find("input[name*='Checked']").eq(0);
                //checked = riderSelectionCheckbox.prop('checked');
                //if (riderSelection.attr('name') != null && checked) {
                //    unitRiderChanged(riderSelection, checked);
                //    //riderSelection.attr('readonly', false);
                //}

                //var upCheckbox = row.find("input[name*='Checked']").eq(0);
                //checked = upCheckbox.prop('checked');
                //if (upInput.attr('name') != null && checked) {
                //    validateValueInputted(upInput, checked);
                //    upInput.attr('readonly', false);
                //}
            }
        });
    }

    function onRelationChange(element) {
        var element = $(element);
        var isTertanggungUtama = "@Html.Raw(Model.NasabahData.TertanggungUtama)";
        var relationship = element.val();
        var pekerjaan = element.parent().parent().find("select[name*='KelasPekerjaan']");
        var insuredIndex = element.parent().parent().index();
        var value = pekerjaan.find("option:contains('Lain-Lain')").val();

        if (relationship == "Anak Angkat" || relationship == "Anak Kandung")
        {
            pekerjaan.val(value);
            getKelasPekerjaan(value, function (result) {
                element.parent().parent().find("input[name*='RiskClass']").eq(0).val(result);
            });
        }

        if (isTertanggungUtama == "Ya" && relationship == "Diri Sendiri") {
            alertify.alert("Relasi Diri Sendiri hanya bisa dipilih jika pemegang polis dan tertanggung utama berbeda");
            element.val("Lainnya");
            return;
        }

        $("#table_tt :input[name*='Relationship']").each(function () {
            var row = $(this).parent().parent().index();
            if (row != insuredIndex && $(this).val() == "Diri Sendiri" && relationship == "Diri Sendiri") {
                alertify.alert("Relasi Diri Sendiri hanya bisa dipilih sekali");
                element.val("Lainnya");
                return;
            }
            if ((row != insuredIndex && $(this).val() == "Pasangan" && relationship == "Pasangan") || (relationship == "Pasangan" && $('#@Html.IdFor(m => m.NasabahData.Relation)').val() == "Pasangan")) {
                alertify.alert("Relasi Pasangan hanya bisa dipilih sekali");
                element.val("Lainnya");
                return;
            }
        });

        $("#bawah").find('td').each(function () {
            var row = $(this);
            var rowSPOP = row.parent().find("td").eq(0).html();
            if ((row.index() == insuredIndex + 1) && rowSPOP == "SP") {
                var choicesSelection = row.find("input[name*='Checked']");
                $(choicesSelection).each(function () {
                    if ($(this).attr('id') != null) {
                        var checked = $(this).prop('checked');
                        if (relationship != "Pasangan" && checked) {
                            $(this).prop('checked', false);
                            var domobject = $(this)[0];
                            riderTypeCheckedChange(domobject);
                        }
                    }
                });
            }
        });
        
        validateRelationship(relationship, insuredIndex);
        validateAgeWithRelationAndElement(relationship, element);
        validateGenderWithRelationAndElement(relationship, element);
    }

    function validateRelationship(relation, index) {
        var mustBeGender = dataNasabah.JenisKelaminPemegangPolis == "Pria" ? "Pria" : "Wanita";
        var gender = dataNasabah.JenisKelaminPemegangPolis == "Pria" ? "Wanita" : "Pria";
        if (relation == "Diri Sendiri") {
            $("#table_tt tr").eq(index).find("input[name*='Nama']").eq(0).val(dataNasabah.NamaPemegangPolis);
            $("#table_tt tr").eq(index).find("input[name*='DateOfBirth']").eq(0).val(dataNasabah.TanggalLahirPemegangPolis);
            $("#table_tt tr").eq(index).find("input[name*='Gender'][value='" + mustBeGender + "']").prop('checked', true);
            $("#table_tt tr").eq(index).find("input[name*='Gender'][value='" + gender + "']").prop('checked', false);
            $("#table_tt tr").eq(index).find("input[name*='Age']").eq(0).val(dataNasabah.UmurPemegangPolis);
            $("#table_tt tr").eq(index).find("select[name*='KelasPekerjaan']").eq(0).find("option:contains(" + $("#PekerjaanPemegangPolis").val() + ")").prop("selected", true);
            onClassRiskChange($("#table_tt tr").eq(index).find("select[name*='KelasPekerjaan']")[0]);
        }
    }

    function validateGenderWithRelationAndElement(relation, element) {

        var gender = element.parent().parent().parent().find("input[name*='Gender']:checked").val();
        if (relation == "Pasangan") {
            var mustBeGender = dataNasabah.JenisKelaminPemegangPolis == "Pria" ? "Wanita" : "Pria";
            if (gender != mustBeGender) {
                element.parent().parent().parent().find("input[name*='Gender'][value='" + mustBeGender + "']").prop('checked', true);
                element.parent().parent().parent().find("input[name*='Gender'][value='" + gender + "']").prop('checked', false);
            }
        }
    }
    function validateAgeWithRelationAndElement(relation, element) {
        var datePickerInput = element.parent().parent().find("input[name*='DateOfBirth']").eq(0);
        var ageInput = element.parent().parent().find("input[name*='Age']").eq(0);
        var age = ageInput.val();

        if (age != null && age != "") {
            age = parseInt(age);

            var mainInsuredAge = dataNasabah.TertanggungUtama == "Ya" ? dataNasabah.UmurPemegangPolis : dataNasabah.UmurTertanggungUtama;
            if (mainInsuredAge < age && relation == "Anak Kandung") {
                alertify.alert("Usia Anak Kandung harus lebih kecil daripada usia tertanggung utama");
                datePickerInput.val('');
                ageInput.val('');
            }

            if (age < 17 && (relation == "Pasangan" || relation == "Orang Tua Kandung" || relation == "Orang Tua Angkat")) {
                alertify.alert("Usia Orang Tua dan Pasangan harus lebih dari 17 Tahun");
                //datePickerInput.datetimepicker("destroy");
                datePickerInput.val("");
                ageinput.val("");
            }
        }
    }
    function remove(element) {
        var rowIndex = element.parentNode.parentNode.rowIndex - 1;

        var rowAtas = element.parentNode.parentNode;
        rowAtas.remove();

        $("#bawah").find('tr').not(':last').each(function () {
            var row = $(this);

            row.find('td').eq(rowIndex + 1).remove();
        })

        $("#atas").find('tr').each(function () {
            var trow = $(this);

            trow.find('th').eq(rowIndex + 1).remove();
        });

        $('#table_tt tr').find('td').each(function () {
            var row = $(this);
            if (row.index() == 1) {
                row.html(row.parent().index() + 1)
            }
        });

        var rowCount = $('#atas tr:first >th').length;
        var colCount = $('#bawah tr:first >td').length;
        $("#totalTitle").attr("colspan", colCount-1);

        $("#atas").find('tr').each(function () {
            var row = $(this);

            row.find('th').each(function () {
                var header = $(this);

                if (header.index() > 0 && header.index() < rowCount - 1) {
                    header.html('Ttg. Tambahan ' + (header.index()));
                }
            })
        });
        iterateAllIndexInsured();
        calcTotalCORFirst();
        calcTotalAdditionalInsured();
    }

    function iterateAllIndexInsured() {
        $("#bawah").find('tr').each(function () {
            var i = 1;
            $(this).find('td').not(':first').not(':last').each(function () {
                $(this).find("input[name='insuredIndexTd']").val(i);
                i = i + 1;
            });
        });
    }

    function iterateAllCheckBoxFirst() {
        var rowCount = $('#bawah tr:first').length - 2; var dis = [];
        $("#bawah").find('tr').each(function () {
            var rowIndex = $(this).index();
            $(this).find('td').not(':first').not(':last').each(function () {
                var checked = $(this).find("input[name*='Checked']").eq(0).prop('checked');
                var insuredIndex = $(this).index();
                if (checked == true && riders[rowIndex].Rider.DisableRider != null) {
                    var disablednames = riders[rowIndex].Rider.DisableRider.split(";");
                    for (var i = 0; i < disablednames.length; i++) {
                        dis.push(insuredIndex + "-" + disablednames[i]);
                    }
                }
            });
        });
        disableRiderByElement(dis);
    }

    function disableRiderByElement(dis) {
        var disarray = ['array', dis];
        $("#bawah").find('tr').each(function () {
            $(this).find('td').not(':first').not(':last').each(function () {
                var disableCheckbox = $(this).find("input[name*='Checked']").eq(0);
                var tdElement = $(this).index() + "-" + $(this).parent().find("input[name*='Rider.RiderCode']").eq(0).val();
                if (dis.indexOf(tdElement) != -1) {
                    disableCheckbox.attr("disabled", true);
                } else {
                    disableCheckbox.removeAttr("disabled");
                }
            });
        });
    }

    function fillUpAfterWrong(rider) {
        var upDasar = parseFloat(toDoubleFormat(premiData.UangPertanggungan));
        var minPercentageUp = rider.MinPercSumInsured;
        var minAmountUp = rider.MinAmountSumInsured;
        var ret = "";
        if (minPercentageUp != null) {
            if (minAmountUp != null && upDasar < minAmountUp) {
                ret = toMoneyFormat(minAmountUp);
            } else if (minAmountUp != null && upDasar >= minAmountUp) {
                ret = toMoneyFormat(upDasar);
            } else if (minAmountUp == null) {
                upDasar = (minPercentageUp / 100) * upDasar;
                ret = toMoneyFormat(upDasar);
            }
        }

        return ret;
    }

    function addTableRowTT(jQtable) {
        var lastId = jQtable.find("tr:last td:first input").attr('name');
        var panjang = $('.tablew tr').length - 1;
        var newId = ($('.tablew tr').length - 1) * 10;

        var row = $('<tr />');

        for (var i = 0; i <= 5; i++) {
            var thisId = newId + i;
            var cell = $('<td />');
            if (i == 0) {
                var input = $('<span>' + (panjang + 1) + '</span>');
            }
            if (i == 1 || i == 5) {
                var input = $('<input type="text" name="' + thisId + '" maxlength="50" class="form-control inputtext enter" id="' + thisId + '">');
            }
            if (i == 2) {
                var input = $("<div class='input-group date' id='datepick'><span class='input-group-addon'><span class='glyphicon glyphicon-calendar' ></span></span><input type='text' name='" + thisId + "'  id='datepicker' class='form-control'/></div>");
            }
            if (i == 3) {
                var input = $("<div class='input-group enter'><label class='checkbox-inline' id='" + thisId + "'><input name='" + thisId + "' type='radio' value='Wanita' checked>Wanita</label><label class='checkbox-inline' id='" + thisId + "'><input name='" + thisId + "' type='radio' value='Pria'>Pria</label></div>");
            }
            if (i == 4) {
                var input = $('<input type="text" name="' + thisId + '" maxlength="50" class="form-control inputtext2 enter" id="' + thisId + '"disabled>');
            }
            cell.append(input);
            row.append(cell);
        }

        jQtable.append(row);
    }
</script>