﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    @model Sales.Illustration.Web.ViewModel.TopUpWithdrawalViewModel
    string errorMsg = TempData["errorMsg"] != null ? TempData["errorMsg"].ToString() : "";
    var pTitle = ViewData["ProductTitle"];
    var pCode = ViewData["ProductCode"];
}

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>
    <div style="min-height:40px;overflow:hidden;">
        <center>
            <div id="msform">
                <ul id="progressbar" style="padding-left:0px;">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                </ul>
            </div>
        </center>
    </div>


@using (Html.BeginForm("ValidateTopUpWithdrawal", "UnitLink", FormMethod.Post, new { @id = "form" }))
{
    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-tittle-1">
                    <i class="to"></i>  Top Up dan Withdrawal
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12" style="padding-left:10px; padding-top:5px;">
                        <button type="button" id="topup_button" class="btn btn-warning" onclick="addTopUp()">
                            TOP UP
                        </button>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 " style="padding-left:10px; padding-top:5px;">
                        <button type="button" id="withdrawal_button" class="btn btn-warning" onclick="addWithdrawal()">
                            WITHDRAWAL
                        </button>
                    </div>
                </div>
                <br />

                    <div class="table-responsive" id="table">
                        <table id="content_tb" class="table-reg">
                            <thead>
                                <tr>
                                    <th style="width:250px;">Tipe Transaksi</th>
                                    <th style="width:135px;">Tahun</th>
                                    <th style="width:190px;">Total</th>
                                    <th style="width:180px;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="content_body">
                                @{
                                    if (Model.TopupWithdrawals != null)
                                    {
                                        foreach (var tw in Model.TopupWithdrawals)
                                        {
                                            Html.RenderPartial("TopUpWithdrawalRow", tw);
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                        <input type="hidden" id="hdErrorMsg" value="@errorMsg" />
                        <input type="hidden" id="hdProduct" value="@pCode" />
                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button type="button" id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("BackToRider", "UnitLink")';">
                    BACK
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button type="button" id="content_clear" class="btn btn-warning" onclick="window.location.href='@Url.Action("ClearUnitLinkTopUpWithdrawalData", "ClearData")';">
                    CLEAR
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button type="submit" name="nextName" id="submit" class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>
                                    }

</div>
@Html.Partial("Footer")
@System.Web.Optimization.Scripts.Render("~/bundles/app")

<script type="text/javascript">
    $(document).ready(function () {
        var msg = $('#hdErrorMsg').val();

        if (msg != null && msg != "") {
            alertify.alert(msg);
        }
    });

    function validateAmountTopupWithdrawal(element)
    {
        var name = element.getAttribute("name");
        var i = name.indexOf("[");
        var n = name.indexOf("]");
        var index = name.substring(i + 1, n);
        var type = document.getElementsByName("TopupWithdrawals[" + index + "].txtType")[0];
        var amount = document.getElementsByName("TopupWithdrawals[" + index + "].Amount")[0];
        var prodCode = $('#hdProduct').val();

        if (amount.value != "") {
            if (isNumeric(toDecimalFormat(amount.value))) {
                if (type.value == "TOP UP") {
                    getProduct(prodCode, function (product) {
                        var minTopup = product["MinSingleTopUp"];
                        var topup = toDecimalFormat(amount.value);

                        if (parseInt(topup) < parseInt(minTopup)) {
                            alertify.alert("Minimal nilai top up adalah " + toMoneyFormat(minTopup));
                            amount.value = "";
                            return;
                        }
                    });
                }
                else {
                    getProduct(prodCode, function (product) {
                        var minWithdrawal = product["MinWithdrawal"];
                        var withdrawal = toDecimalFormat(amount.value);

                        if (parseInt(withdrawal) < parseInt(minWithdrawal)) {
                            alertify.alert("Minimal nilai withdrawal adalah " + toMoneyFormat(minWithdrawal));
                            amount.value = "";
                            return;
                        }
                    });
                }
            }
            else {
                alertify.alert("Nilai top up atau withdrawal harus angka.");
                amount.value = "";
                return;
            }
        }
    }

    function next() {
        document.getElementById("form").submit();
    }

    function addTopUp() {
        $.ajax({
            async: false,
            url: '/UnitLink/AddNewTopUp'
        }).success(function (partialView) {
            $('#content_body').append(partialView);
        });
    }

    function addWithdrawal() {
        $.ajax({
            async: false,
            url: '/UnitLink/AddNewWithrdrawal'
        }).success(function (partialView) {
            $('#content_body').append(partialView);
        });
    }

    function deleteRow(r) {
        
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("content_tb").deleteRow(i);
    }
</script>
